<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danhba">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/telephonedirectory"
        android:label="@string/app_name"
        android:roundIcon="@null"
        android:supportsRtl="true"
        android:theme="@style/Theme.DanhBa">
        <activity android:name=".Update"></activity>
        <activity android:name=".AddActivity" />
        <activity android:name=".Home" />
        <activity android:name=".DangKy" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>